<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
            
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <%= image_tag("LogoCurb.png" , width: "150px" )%>
                    </a>
                </div>
                <div class="logo-element">
                    <%= image_tag("LogoCurb.png" , width: "40px" )%>
                </div>
            </li>

            <li class="">
                <a href=""><span class="nav-label"><%= link_to "Home", root_path %></span> <span class="fa arrow"></span></a> 
                <a href=""><span class="nav-label"><%= link_to "Ventas", root_path %></span> <span class="fa arrow"></span></a>  
            </ul>
            
        </li>
        </ul>

    </div>
</nav>

